$primary-color:rgb(201, 171, 129);
$secondry-color-1:white;
$secondry-color-2:black;
$padding-1: 0.2rem;
$padding-2: 0.4rem;
$padding-3: 0.8rem;
$margin-1: 0.2rem;
$margin-2: 0.4rem;
$margin-3:0.8rem;